*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 70vw;
    margin: auto;
}
header{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    gap: 10px;
}
.searchBar{
    /* border: 2px solid; */
    padding: 7px;
    padding-left: 10px;
    display: flex;
    gap: 5px;
    border: 2px solid;
    background-color: black;
    width: 320px;
    height: 40px;
    border-radius: 20px;

}
#input{
    border: none;
    font-size: 17px;
    background-color: black;
    outline: none;
    color: white;
}
@media only screen and (max-width: 485px) {
    .searchBar{
        width: 280px;
    }
}
main{
    /* border: 2px solid; */
    margin: 10px;
    padding: 10px;

}
main ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.place{
    font-size: 28px;

}
@media only screen and (max-width: 420px) {
    .place{
        font-size: 20px;
    }
    .input_box {
        width: 100px;
    }
}
.weatherType{
    border: 2px solid #1e1e1e;
    padding: 10px;
    border-radius: 20px;
    color: whitesmoke;
    background-color: #1e1e1e;
}
.temp{
    font-size: 30px;
}
.min_max_temp{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.weather{
    /* border: 2px solid; */
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #eee;
}
@media only screen and (max-width: 530px) {
    .weather{
        grid-template-columns: 1fr;
    }
}
.weather li{
    /* border: 2px solid; */
    height: 60px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    gap: 10px;
}
.weather li span{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.search_button{
    border-radius: 20px;
    height: 40px;
    width: 60px;
    font-weight: 500;
    color: #fff;
    background-color: black;
}